@inject IOptionsMonitor<WtqOptions> WtqOptions
@inject DialogService Dialog
@inject NavigationManager NavMan
@inject WtqOptionsSaveService SaveService

@page "/examples"
@layout NarrowLayout

@code {

	private async Task AddApp(WtqAppExample example)
	{
		var opt = WtqOptions.CurrentValue;

		var app = example.Factory();
		opt.Apps.Add(app);

		await SaveService.SaveAsync(opt).NoCtx();

		NavMan.NavigateTo($"/apps/{app.Name}");
	}

	private bool _isLinux = WtqEnv.IsLinux;
	private bool _isWindows = WtqEnv.IsWindows;

}

<PageHead Icon="preview">Example Configurations</PageHead>

<p>Here are some examples for apps that you can use with WTQ.</p>

<p>Clicking <strong>Add</strong> will add an example entry to your settings, and take you there for further customization.</p>

<div class="rz-m-1">
	<span>
		<RadzenCheckBox @bind-Value="_isLinux" Name="Linux" />
		<RadzenLabel Text="Linux" Component="Linux" class="rz-ms-2" />
	</span>
	<span class="rz-ml-4">
		<RadzenCheckBox @bind-Value="_isWindows" Name="Windows" />
		<RadzenLabel Text="Windows" Component="Windows" class="rz-ms-2" />
	</span>
</div>

<RadzenRow>

	@foreach (var example in WtqAppExamples.AppExamples.Where(ex => _isLinux && ex.IsLinux || _isWindows && ex.IsWindows))
	{
		<RadzenColumn Size="6">
			<RadzenCard>

				<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" Gap=".5em">
					<h2 style="margin: 0;">@example.Title</h2>

					<RadzenStack Orientation="Orientation.Horizontal">
						@foreach (var os in example.Os)
						{
							<RadzenBadge BadgeStyle="BadgeStyle.Secondary">@os</RadzenBadge>
						}
					</RadzenStack>

					<p class="rz-m-0" style="height: 3em;">@example.Description</p>

					<RadzenImage
						Path="@example.Image"
						style="width: 100%; object-fit: cover; height: 160px;"
					/>

					<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
						<RadzenButton Variant="Variant.Outlined" Text="Visit website" Click="() => Os.OpenUrl(example.Link)" Disabled="@(example.Link == null)" />
						<RadzenButton Variant="Variant.Filled" Text="Add" Click="() => AddApp(example)" />
					</RadzenStack>

					@if (Os.IsCallable(example.FileName))
					{
						<p class="rz-color-success-light rz-mt-1">App '@example.FileName' seems to exist!</p>
					}
					else
					{
						<p class="rz-color-danger-light rz-mt-1">App '@example.FileName' does NOT seem to exist!</p>
					}
				</RadzenStack>

			</RadzenCard>
		</RadzenColumn>
	}

</RadzenRow>