@page "/windows"

@inject IWtqWindowService WindowService

@code {
	private ICollection<WtqWindow> _windows = [];
	private ICollection<WtqWindowProperty> _props = null!;
	private string? _searchTerm;

	public ICollection<WtqWindow> Windows =>
		_windows
			.Where(w => string.IsNullOrWhiteSpace(_searchTerm) || w.MatchesString(_searchTerm))
			.OrderBy(w => w.Name)
			.ToList();

	protected override async Task OnInitializedAsync()
	{
		_props = WindowService.GetWindowProperties();
		_windows = await WindowService.GetWindowsAsync(CancellationToken.None);
	}

}

<PageHead Icon="select_window">Windows</PageHead>
<p>List of windows that WTQ can see. Properties in this list can be used as criteria in the settings.</p>

<RadzenStack Orientation="Orientation.Horizontal" class="rz-my-2">
	<RadzenTextBox
		Style="flex-grow: 1;"
		@bind-Value="_searchTerm"
		@oninput="@(i => _searchTerm = i.Value?.ToString())"
		Placeholder="Filter"
	/>
</RadzenStack>

<RadzenDataGrid
	AllowColumnResize="true"
	AllowFiltering="true"
	AllowPaging="true"
	AllowSorting="true"
	Count="@Windows.Count"
	Data="@Windows"
	GridLines="DataGridGridLines.Both"
	PageSize="50"
>
	<Columns>

		@foreach (var prop in _props)
		{
			<RadzenDataGridColumn Property="@prop.Name" Title="@prop.Name">
				<Template Context="item">
					<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
						<span>@prop.Accessor(item)</span>
						<RadzenLink Icon="content_copy"/>
					</RadzenStack>
				</Template>
			</RadzenDataGridColumn>
		}

	</Columns>
</RadzenDataGrid>