@page "/Apps/{AppId}"

@code {

	[Parameter] public string AppId { get; set; }

	public int radioButtonValue;

	public int value;
	public string? value1;
	public bool valuec;
}

@code {

}

<h1>App @AppId</h1>

<RadzenStack>
	<RadzenFormField Text="Search" Variant="Variant.Outlined">
		<RadzenTextBox @bind-Value="@value1"/>
	</RadzenFormField>
</RadzenStack>

<h3>Process</h3>

<RadzenStack>
	<RadzenFieldset Text="Process">
		<RadzenStack Gap="1rem">

			<RadzenRow AlignItems="AlignItems.Center">
				<RadzenColumn Size="4">
					<RadzenLabel Text="Filename" Component="FileName"/>
				</RadzenColumn>
				<RadzenColumn Size="8">
					<RadzenTextBox @bind-Value="@value1" Name="FileName" style="width: 100%;"/>
				</RadzenColumn>
			</RadzenRow>

			<RadzenRow AlignItems="AlignItems.Center">
				<RadzenColumn Size="4">
					<RadzenLabel Text="Process name" Component="ProcessName"/>
				</RadzenColumn>
				<RadzenColumn Size="8">
					<RadzenTextBox @bind-Value="@value1" Name="ProcessName" style="width: 100%;"/>
				</RadzenColumn>
			</RadzenRow>

			<RadzenRow AlignItems="AlignItems.Center">
				<RadzenColumn Size="4">
					<RadzenLabel Text="Arguments" Component="Arguments"/>
				</RadzenColumn>
				<RadzenColumn Size="8">
					<RadzenTextBox Style="width: 100%;" Name="Arguments"/>
				</RadzenColumn>
			</RadzenRow>

		</RadzenStack>
	</RadzenFieldset>

	<RadzenFieldset Text="Behavior">
		<RadzenStack Gap="1rem">

			<RadzenRow AlignItems="AlignItems.Start">
				<RadzenColumn Size="4">
					<RadzenLabel Text="Always on top" Component="AlwaysOnTop"/>
				</RadzenColumn>
				<RadzenColumn Size="8">
					<RadzenCheckBox @bind-Value=@valuec Name="AlwaysOnTop"/>
					<p>Keep the app on top of other windows, even on focus lost.</p>
				</RadzenColumn>
			</RadzenRow>

			<RadzenRow AlignItems="AlignItems.Start">
				<RadzenColumn Size="4">
					<RadzenLabel Text="Hide on focus lost" Component="HideOnFocusLost"/>
				</RadzenColumn>
				<RadzenColumn Size="8">
					<RadzenRadioButtonList @bind-Value=@radioButtonValue TValue="int" Orientation="Orientation.Vertical">
						<Items>
							<RadzenRadioButtonListItem Value="1" Text="Always"/>
							<RadzenRadioButtonListItem Value="2" Text="Never"/>
							<RadzenRadioButtonListItem Value="3" Text="Unless focus changed screen" Disabled="true"/>
						</Items>
					</RadzenRadioButtonList>
				</RadzenColumn>
			</RadzenRow>

			<RadzenRow AlignItems="AlignItems.Start">
				<RadzenColumn Size="4">
					<RadzenLabel Text="Taskbar icon visibility" Component="TaskbarIconVisibility"/>
				</RadzenColumn>
				<RadzenColumn Size="8">
					<RadzenRadioButtonList @bind-Value=@radioButtonValue TValue="int" Orientation="Orientation.Vertical">
						<Items>
							<RadzenRadioButtonListItem Value="1" Text="Always"/>
							<RadzenRadioButtonListItem Value="2" Text="Never"/>
							<RadzenRadioButtonListItem Value="3" Text="When app visible" Disabled="true"/>
						</Items>
					</RadzenRadioButtonList>
				</RadzenColumn>
			</RadzenRow>

			<RadzenRow AlignItems="AlignItems.Opacity">
				<RadzenColumn Size="4">
					<RadzenLabel Text="Opacity" Component="Opacity"/>
				</RadzenColumn>
				<RadzenColumn Size="8">
					<RadzenNumeric @bind-Value="@value" Name="Opacity" class="rz-mr-4" style="width: 80px;"/>
					<RadzenSlider @bind-Value=@value TValue="int" />
				</RadzenColumn>
			</RadzenRow>

			<RadzenRow AlignItems="AlignItems.Center">
				<RadzenColumn Size="4">
					<RadzenLabel Text="WindowTitleOverride" Component="WindowTitleOverride"/>
				</RadzenColumn>
				<RadzenColumn Size="8">
					<RadzenTextBox @bind-Value="@value1" Name="WindowTitleOverride" style="width: 100%;"/>
				</RadzenColumn>
			</RadzenRow>

		</RadzenStack>
	</RadzenFieldset>
</RadzenStack>


<RadzenFormField Text="Filename" Variant="Variant.Outlined">
	<RadzenTextBox @bind-Value="@value1"/>
</RadzenFormField>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Filename</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenTextBox @bind-Value="@value1"/>

	</ChildContent>
</RadzenFieldset>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Process name</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenTextBox @bind-Value="@value1"/>

	</ChildContent>
</RadzenFieldset>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Startup Arguments</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenTextBox @bind-Value="@value1"/>

	</ChildContent>
</RadzenFieldset>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			@* <RadzenIcon Icon="account_box"/><b>Attach Mode</b> *@
			<b>Attach Mode</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenRadioButtonList @bind-Value=@radioButtonValue TValue="int" Orientation="Orientation.Vertical">
			<Items>
				<RadzenRadioButtonListItem Value="1" Text="Find or Start"/>
				<RadzenRadioButtonListItem Value="2" Text="Find"/>
				<RadzenRadioButtonListItem Value="3" Text="Manual"/>
			</Items>
		</RadzenRadioButtonList>

		<p class="rz-p-0 rz-m-0">The behavior to use when "attaching" to an app.</p>
	</ChildContent>
</RadzenFieldset>

<h3>Hotkeys</h3>
Hotkeys

<h3>Behavior</h3>
bool? AlwaysOnTop
bool? HideOnFocusLost
int? Opacity
string? WindowTitleOverride
TaskBarIconVisibility? TaskbarIconVisibility

<h3>Position</h3>
float? HorizontalScreenCoverage
float? VerticalScreenCoverage
HorizontalAlign? HorizontalAlign
IEnumerable OffScreenLocation OffScreenLocations
int? MonitorIndex
int? VerticalOffset
PreferMonitor? PreferMonitor


<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			@* <RadzenIcon Icon="account_box"/><b>Attach Mode</b> *@
			<b>Always On Top</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>
		<RadzenCheckBox @bind-Value=@valuec Name="CheckBox1"/>
		<RadzenLabel Text="CheckBox" Component="CheckBox1" class="rz-ms-2"/>

		<p class="rz-m-0 rz-mt-4">When checked, the app window will always be on top of other windows, regardless of whether it has focus.</p>
	</ChildContent>
</RadzenFieldset>


<h2>Coverage</h2>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Horizontal Screen Coverage</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>
		<RadzenSlider @bind-Value=@value TValue="int"/>
	</ChildContent>
</RadzenFieldset>


<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Vertical Screen Coverage</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>
		<RadzenSlider @bind-Value=@value TValue="int"/>
	</ChildContent>
</RadzenFieldset>


<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			@* <RadzenIcon Icon="account_box"/><b>Attach Mode</b> *@
			<b>Horizontal Align</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Stretch" JustifyContent="JustifyContent.SpaceBetween" Gap="1rem" Wrap="FlexWrap.Wrap">

			<RadzenToggleButton
				Icon="format_align_left"
				ButtonStyle="ButtonStyle.Light"
				Shade="Shade.Light"
				ToggleShade="Shade.Dark"
				Size="ButtonSize.Large"
				Text="Left"/>

			<RadzenToggleButton
				Icon="format_align_center"
				ButtonStyle="ButtonStyle.Light"
				Shade="Shade.Light"
				ToggleShade="Shade.Dark"
				Size="ButtonSize.Large"
				Text="Center"/>

			<RadzenToggleButton
				Icon="format_align_right"
				ButtonStyle="ButtonStyle.Light"
				Shade="Shade.Light"
				ToggleShade="Shade.Dark"
				Size="ButtonSize.Large"
				Text="Right"/>

		</RadzenStack>


	</ChildContent>
</RadzenFieldset>


<h2>Animation</h2>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Animation Duration</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>
		<RadzenSlider @bind-Value=@value TValue="int"/>
	</ChildContent>
</RadzenFieldset>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Animation Target FPS</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenStack>
			<RadzenSlider @bind-Value=@value TValue="int"/>
		</RadzenStack>
	</ChildContent>
</RadzenFieldset>


<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			@* <RadzenIcon Icon="account_box"/><b>Attach Mode</b> *@
			<b>Hide On Focus Lost</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>
		<RadzenCheckBox @bind-Value=@valuec Name="CheckBox1"/>
		<RadzenLabel Text="CheckBox" Component="CheckBox1" class="rz-ms-2"/>
	</ChildContent>
</RadzenFieldset>